////////////
// Roboto //
////////////

@font-face {
  font-family: "Roboto Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Light Italic";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/roboto/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Bold Italic";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/roboto/Roboto-BoldItalic.ttf");
}
